<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.first.myfirstchat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:networkSecurityConfig="@xml/network_secutiry_config"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.first.myfirstchat.MainActivity"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name="com.first.myfirstchat.LoginActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.first.myfirstchat.MainRoom"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name="com.first.myfirstchat.GameRoom"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name="com.first.myfirstchat.CreateNewRoom"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name="com.first.myfirstchat.RoomGameProgress"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name="com.first.myfirstchat.RoomWin"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name="com.first.myfirstchat.RoomLose"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name="com.first.myfirstchat.RulesActivity"
            android:screenOrientation="fullSensor">
        </activity>

    </application>

</manifest>